name: Rate limiter library CI

defaults:
  run:
    working-directory: rate-limiter-rs    

on:
  push:
    # paths:
    #   - 'rate-limiter-rs/**'

jobs:
  build_and_test:
    services:
      redis:
        image: redis:7.4.1-bookworm
        ports:
          - 7379:6379
    runs-on: ubuntu-latest      
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Build
        run: cargo build
      - name: Format
        run: cargo fmt
      - name: Lint
        run: cargo fmt --check
      - name: Install nextest
        uses: taiki-e/install-action@nextest
      - name: Test
        run: cargo nextest run
      - name: Doc test
        run: cargo test --doc